<h1 align='center'>
  <br />
  <img alt="Gympoint" title="Gympoint"
    src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-02/master/.github/logo.png"
    width="200px" />
</h1>
<br />
<strong>Olá {{ studentName }}</strong>
<p>Seja bem vindo à Gympoint</p>
<p>Aqui vão algumas informações sobre seu cadastro:</p>
<p>
  <strong>Data de início:</strong> {{dateStart}} <br />
  <strong>Data de término:</strong> {{dateEnd}} <br />
  <strong>Plano selecionado:</strong> {{plan}} <br />
  <strong>Preço total:</strong> {{price}} <br />
  <br />
</p>
